$fondoa: "../../assets/images/fondoa.png";
#container{
    margin-top: 25%;
    text-align: center;
}
body {
    background: url($fondoa)  no-repeat;
}
ion-card{
    text-align: left;
    overflow-y: scroll;
    
}