<ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="false">
  <div id="map" style="height: 100%"></div>
  <ion-button
    slot="fixed"
    id="click-trigger"
    style="position: absolute; right: 0px"
    >LEKUAK</ion-button
  >
  <ion-popover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">Igeldo mendia</ion-content>
      <ion-content class="ion-padding">Haizearen orrazia</ion-content>
      <ion-content class="ion-padding">Artzain Onaren Katedrala</ion-content>
      <ion-content class="ion-padding">Danborrada</ion-content>
      <ion-content class="ion-padding">Abuztuak 31</ion-content>
      <ion-content class="ion-padding">San Telmo Museoa</ion-content>
    </ng-template>
  </ion-popover>

  <ion-button slot="fixed" (click)="presentAlert()">
    <ion-icon name="help-circle"></ion-icon>
  </ion-button>
</ion-content>