
<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="false">
  <div id="map" style="height: 100%"></div>
  <ion-button slot="fixed" id="click-trigger" style="position: absolute; right: 0px">LEKUAK</ion-button>
  <ion-popover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">1. Igeldo mendia</ion-content>
      <ion-content class="ion-padding">2. Haizearen Orrazia</ion-content>
      <ion-content class="ion-padding">3. Artzain Onaren Katedrala</ion-content>
      <ion-content class="ion-padding">4. Danborrada</ion-content>
      <ion-content class="ion-padding">5. Abuztuak 31 kalea</ion-content>
      <ion-content class="ion-padding">6. San Telmo Museoa</ion-content>
    </ng-template>
  </ion-popover>

  <ion-button slot="fixed" (click)="presentAlert()">
    <ion-icon name="help-circle"></ion-icon>
  </ion-button>
</ion-content>