<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button *ngIf="title == 'Igeldo mendia'" (click)="informazioraJoan(1)">Joan jolasera</ion-button>
  <ion-button *ngIf="title == 'Haizearen Orrazia'" (click)="informazioraJoan(2)">Joan jolasera</ion-button>
  <ion-button *ngIf="title == 'Artzain Onaren Katedrala'" (click)="informazioraJoan(3)">Joan jolasera</ion-button>
  <ion-button *ngIf="title == 'Danborrada'" (click)="informazioraJoan(4)">Joan jolasera</ion-button>
  <ion-button *ngIf="title == 'Abuztuak 31 kalea'" (click)="informazioraJoan(5)">Joan jolasera</ion-button>
  <ion-button *ngIf="title == 'San Telmo Museoa'" (click)="informazioraJoan(6)">Joan jolasera</ion-button>

</ion-content>