<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bikoteak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="false">
  <div class="content">
    <div class="fondoa">
    </div>
    <div class="container">
      <ion-card class="cell">
        <div class="front" data-index="1"><img src="../../assets/images/bikoteak/banco1.png" alt=""></div>
        <div class="back"></div>
      </ion-card>
      <ion-card class="cell">
        <div class="front" data-index="1"><img src="../../assets/images/bikoteak/banco1.png" alt=""></div>
        <div class="back"></div>
      </ion-card>
      <ion-card class="cell">
        <div class="front" data-index="2"><img src="../../assets/images/bikoteak/damborrada1.png" alt=""></div>
        <div class="back"></div>
      </ion-card>
      <ion-card class="cell">
        <div class="front" data-index="2"><img src="../../assets/images/bikoteak/damborrada1.png" alt=""></div>
        <div class="back"></div>
      </ion-card>
      <ion-card class="cell">
        <div class="front" data-index="3"><img src="../../assets/images/bikoteak/fotodonos1.png" alt=""></div>
        <div class="back"></div>
      </ion-card>
      <ion-card class="cell">
        <div class="front" data-index="3"><img src="../../assets/images/bikoteak/fotodonos1.png" alt=""></div>
        <div class="back"></div>
      </ion-card>
      <ion-card class="cell">
        <div class="front" data-index="4"><img src="../../assets/images/bikoteak/lokesea1.png" alt=""></div>
        <div class="back"></div>
      </ion-card>
      <ion-card class="cell">
        <div class="front" data-index="4"><img src="../../assets/images/bikoteak/lokesea1.png" alt=""></div>
        <div class="back"></div>
      </ion-card>
      <ion-card class="cell">
        <div class="front" data-index="5"><img src="../../assets/images/bikoteak/plaza1.png" alt=""></div>
        <div class="back"></div>
      </ion-card>
      <ion-card class="cell">
        <div class="front" data-index="5"><img src="../../assets/images/bikoteak/plaza1.png" alt=""></div>
        <div class="back"></div>
      </ion-card>
    </div>
  </div>

</ion-content>