<ion-header>
  <ion-toolbar color="primary">
    <ion-title>DanborradaJolasa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="fondoa"></div>
    <ion-card>
      <p id="galdera">Galdera:</p>
          <form method="post">
            <ion-item>
              <ion-label for="fname">Zure erantzuna</ion-label>
              <ion-input type="text" id="erantzuna"></ion-input>
            </ion-item>
          </form>
        <div class="submit">
          <ion-button type="submit" (mousedown)="hurrengoa()">Hurrengoa</ion-button>
        </div>
    </ion-card>
  </div>
</ion-content>
