<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Testu Galderak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="fondoa"></div>
    <ion-card *ngFor="let item of galderak | slice:0:1">
      <p id="galdera">{{item}}</p>
          <form method="post">
            <ion-item>
              <ion-label for="fname">Zure erantzuna</ion-label>
              <ion-input type="text" id="erantzuna" color="primary"></ion-input>
            </ion-item>
          </form>
        <div class="submit">
          <ion-button type="submit" (click)="hurrengoa()">Hurrengoa</ion-button>
        </div>
    </ion-card>
  </div>
</ion-content>
