<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Test Galdera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fondoa">
    </div>
    <div class="content">
      <ion-card>
        <ion-card-content>
          <p>Zein elementu ez da Artzain Onaren Katerdralean agertzen?</p>

          <div id="erantzunak">
            <div id="erantzunak2">
              <div *ngFor="let item of list">
                <ion-item (click)="getSelectedItem(item)">
                  <ion-label>{{item.value}}</ion-label>
                  <ion-icon name="radio-button-off-outline"></ion-icon>
                </ion-item>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
