@import "../app.component";

.content{
    overflow: hidden;
    position: relative; 
    @include flex_mixin(column,center,center,no-wrap);
    height: 100%;
    padding: 0px 15%;
}

.fondoa{
    background: url($fondoko_argazkia);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
    height: 100%;
    width: 100%;
    position: absolute;
}

ion-card{
    text-align: left;
    width: 100%;

    p{
        margin-bottom: 10px;
        color: $letra;
        font-weight: bold;
    }
}
#erantzunak{
    @include flex_mixin(column,null,center,no-wrap);
    text-align: left;

    #erantzunak2{
        ion-item{
            @include flex_mixin(column,null,center,no-wrap);
            --ion-item-background: transparent;
            background: none;
        }
        
        ion-checkbox{
            align-self: flex-end;
        }
        ion-label{
            font-size: 14px;
        }
    }
}