@import "../app.component";

#container {
  height: 100%;
  width: 100%;
  @include flex_mixin(column,center,center,no-wrap);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 5px;
  width: 96%;
  padding: 5px;

  div{
    @include flex_mixin(row,center,null,no-wrap);
  }
}

.content {
  overflow: hidden;
  position: relative;
  @include flex_mixin(column,center,center,no-wrap);
  height: 100%;
}

.fondoa {
  background: url($fondoko_argazkia);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.75;
  height: 100%;
  width: 100%;
  position: absolute;
}