<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Puzzlea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="fondoa">
    </div>
  <div id="container">
    <ion-card class="grid">
        <div><img id="img_0" (click)="seleccionar(0)"></div>
        <div><img id="img_1" (click)="seleccionar(1)"></div>
        <div><img id="img_2" (click)="seleccionar(2)"></div> 
        <div><img id="img_3" (click)="seleccionar(3)"></div>
    
        <div><img id="img_4" (click)="seleccionar(4)"></div>
        <div><img id="img_5" (click)="seleccionar(5)"></div>
        <div><img id="img_6" (click)="seleccionar(6)"></div>
        <div><img id="img_7" (click)="seleccionar(7)"></div>
     
        <div><img id="img_8" (click)="seleccionar(8)"></div>
        <div><img id="img_9" (click)="seleccionar(9)"></div>
        <div><img id="img_10" (click)="seleccionar(10)"></div>
        <div><img id="img_11" (click)="seleccionar(11)"></div>
     
        <div><img id="img_12" (click)="seleccionar(12)"></div>
        <div><img id="img_13" (click)="seleccionar(13)"></div>
        <div><img id="img_14" (click)="seleccionar(14)"></div>
        <div><img id="img_15" (click)="seleccionar(15)"></div>
    </ion-card>
  </div>
</div>
</ion-content>
