@import "../app.component";

ion-icon{
    font-size: 4rem;
}

ion-content{
    @include flex_mixin(column,center,center,no-wrap);
}

.content{
    overflow: hidden;
    position: relative; 
    @include flex_mixin(column,center,center,no-wrap);
    height: 100%;
}

.fondoa{
    background: url($fondoko_argazkia);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
    height: 100%;
    width: 100%;
    position: absolute;
}