<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Lotzeko Jokua</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content">
        <div class="fondoa"></div>
        <div class="container">
            <ion-card (mousedown)="aukeratu('img_1')">
                <img src="../../assets/images/lotzeko-jokua/Beiratea.png" id="img_1"/>
                <ion-icon name="radio-button-off-outline" id="pimg_1"></ion-icon>
            </ion-card>

            <ion-card (mousedown)="aukeratu('txt_4')">
                <ion-icon name="radio-button-off-outline" id="ptxt_4"></ion-icon>
                <a class="gargola" id="txt_4">Gargola</a>
            </ion-card>

            <ion-card (mousedown)="aukeratu('img_2')">
                <img src="../../assets/images/lotzeko-jokua/Arbotantea.png" id="img_2"/>
                <ion-icon name="radio-button-off-outline" id="pimg_2"></ion-icon>
            </ion-card>

            <ion-card (mousedown)="aukeratu('txt_3')">
                <ion-icon name="radio-button-off-outline"id="ptxt_3"></ion-icon>
                <a class="pinakulua" id="txt_3">Pinakulua</a>
            </ion-card>

            <ion-card (mousedown)="aukeratu('img_3')">
                <img src="../../assets/images/lotzeko-jokua/Pinakulua.png" id="img_3"/>
                <ion-icon name="radio-button-off-outline" id="pimg_3"></ion-icon>
            </ion-card>

            <ion-card (mousedown)="aukeratu('txt_2')">
                <ion-icon name="radio-button-off-outline" id="ptxt_2"></ion-icon>
                <a class="arbotartea" id="txt_2">Arbotantea</a>
            </ion-card>

            <ion-card (mousedown)="aukeratu ('img_4')">
                <img src="../../assets/images/lotzeko-jokua/Gargola.png" id="img_4"/>
                <ion-icon name="radio-button-off-outline" id="pimg_4"></ion-icon>
            </ion-card>

            <ion-card (mousedown)="aukeratu('txt_1')">
                <ion-icon name="radio-button-off-outline" id="ptxt_1"></ion-icon>
                <a class="beiratea" id="txt_1">Beiratea</a>
            </ion-card>
        </div>
    </div>
</ion-content>
<script>
    $('.markerDiv').on('click', function(){
   var checkbox = $(this).children('input[type="checkbox"]');
   checkbox.prop('checked', !checkbox.prop('checked'));
});
</script>