<ion-header>
  <ion-toolbar color="primary">
    <ion-title>lotzekoJokua</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="irudiak">
      <img src="../../assets/images/Arrain.png" id="img_1" (mousedown)="aukeratu('img_1')">
      <img src="../../assets/images/Hipo.png" id="img_2" (mousedown)="aukeratu('img_2')">
      <img src="../../assets/images/Igel.png" id="img_3" (mousedown)="aukeratu('img_3')">
      <img src="../../assets/images/Txori.png" id="img_4" (mousedown)="aukeratu('img_4')">
    </div>
    <div class="izenak">
      <a class="gargola" id="txt_4" (mousedown)="aukeratu('txt_4')">Gargola</a>
      <a class="pinakulua" id="txt_3" (mousedown)="aukeratu('txt_3')">Pinakulua</a>
      <a class="arbotartea" id="txt_2" (mousedown)="aukeratu('txt_2')">Arbotantea</a>
      <a class="beiratea" id="txt_1" (mousedown)="aukeratu('txt_1')">Beiratea</a>
    </div>
  </div>
</ion-content>
