<ion-header>
  <ion-toolbar color="primary">
    <ion-title>lotzekoJokua</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="fondoa"></div>
    <div class="container">
      <div class="irudiak">
        <div class="aukera">
          <div class="zatia">
            <img
              src="../../assets/images/lotzeko-jokua/Beiratea.png"
              id="img_1"
              (mousedown)="aukeratu('img_1')"
            />
          </div>
          <div class="puntua">
            <h3 id="pimg_1">.</h3>
          </div>
        </div>
        <div class="aukera">
          <div class="zatia">
            <img
              src="../../assets/images/lotzeko-jokua/Arbotantea.png"
              id="img_2"
              (mousedown)="aukeratu('img_2')"
            />
          </div>
          <div class="puntua">
            <h3 id="pimg_2">.</h3>
          </div>
        </div>
        <div class="aukera">
          <div class="zatia">
            <img
              src="../../assets/images/lotzeko-jokua/Pinakulua.png"
              id="img_3"
              (mousedown)="aukeratu('img_3')"
            />
          </div>
          <div class="puntua">
            <h3 id="pimg_3">.</h3>
          </div>
        </div>
        <div class="aukera">
          <div class="zatia">
            <img
              src="../../assets/images/lotzeko-jokua/Gargola.png"
              id="img_4"
              (mousedown)="aukeratu('img_4')"
            />
          </div>
          <div class="puntua">
            <h3 id="pimg_4">.</h3>
          </div>
        </div>
      </div>
      <div class="izenak">
        <div class="aukera">
          <div class="puntua">
            <h3 id="ptxt_4">.</h3>
          </div>
          <div class="zatia">
            <a class="gargola" id="txt_4" (mousedown)="aukeratu('txt_4')"
              >Gargola</a
            >
          </div>
        </div>
        <div class="aukera">
          <div class="puntua">
            <h3 id="ptxt_3">.</h3>
          </div>
          <div class="zatia">
            <a class="pinakulua" id="txt_3" (mousedown)="aukeratu('txt_3')"
              >Pinakulua</a
            >
          </div>
        </div>
        <div class="aukera">
          <div class="puntua">
            <h3 id="ptxt_2">.</h3>
          </div>
          <div class="zatia">
            <a class="arbotartea" id="txt_2" (mousedown)="aukeratu('txt_2')"
              >Arbotantea</a
            >
          </div>
        </div>
        <div class="aukera">
          <div class="puntua">
            <h3 id="ptxt_1">.</h3>
          </div>
          <div class="zatia">
            <a class="beiratea" id="txt_1" (mousedown)="aukeratu('txt_1')"
              >Beiratea</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
