@import "../app.component";
ion-title{
    padding: 0px 20px;
}
.content{
    overflow: hidden;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.fondoa{
    background: url($fondoko_argazkia);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
    height: 100%;
    width: 100%;
    position: absolute;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    position: relative;
    /*display: flex;
    flex-direction: row;
    gap: 15%;
    justify-content: center;*/
}
ion-card{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
    cursor: pointer;
}
/*.irudiak {
    display: flex;
    flex-direction: column;
}
.izenak {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    width: 186.88px;
}
.aukera {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    height: 100px;
    
    background-color: white;
    padding: 10px;
}
.zatia {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.botoia {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}*/
a {
    font-size: 26px;
}