@import "../app.component";
ion-title{
    padding: 0px 20px;
}
.content{
    overflow: hidden;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.fondoa{
    background: url($fondoko_argazkia);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
    height: 100%;
    width: 100%;
    position: absolute;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    position: relative;
}
ion-card{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;

    img{
        cursor: pointer;
    }
    
    a {
        font-size: 20px;
        cursor: pointer;
    }
    ion-icon{
        color: $letra;
        font-size: 18px;
    }
    .matched{
        ion-icon{
            color: #FFBD91;
        }
    }
}