<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Donostiako argazkiak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="fondoa">
    </div>
    <div class="argazkiak">
          <ion-img src="../../assets/images/bikoteak/banco1.png"></ion-img>
          <ion-img src="../../assets/images/bikoteak/plaza1.png"></ion-img>
          <ion-img src="../../assets/images/bikoteak/damborrada1.png"></ion-img>
          <ion-img src="../../assets/images/bikoteak/fotodonos1.png"></ion-img>
          <ion-img src="../../assets/images/bikoteak/lokesea1.png"></ion-img>
          <ion-button (click)="bikoteak()">JOLASERA JOAN</ion-button>
    </div>
  </div>
</ion-content>
