<ion-content>
  <div id="container">
    <div id="aukeragarria">
      <p>Nor zara?</p>
      <p>Aukeratu zure gustuko animalia</p>
      <img src="../../assets/images/Arrain.png" width="25" height="25">
      <img src="../../assets/images/Hipo.png" width="25" height="25">
      <img src="../../assets/images/Igel.png" width="25" height="25">
      <img src="../../assets/images/Txori.png" width="25" height="25">
    </div>
    
      <ion-label>Zein da zure izena?</ion-label>
      <ion-item style="width: 150px;">
      <ion-input></ion-input>
    </ion-item>
    <ion-button>Hasi</ion-button>
    
  </div>

</ion-content>
