  <ion-content>
    <body id="body">
    <div id="container">
      <div id="aukeragarria">
        <p id="nor">Nor zara?</p>
        <div id="animalia">
          <p>Aukeratu zure gustuko animalia</p>
          <img src="../../assets/images/Arrain.png" width="25" height="25">
          <img src="../../assets/images/Hipo.png" width="25" height="25">
          <img src="../../assets/images/Igel.png" width="25" height="25">
          <img src="../../assets/images/Txori.png" width="25" height="25">
        </div>
      </div>
      <div id="izena">
        <ion-label>Zein da zure izena?</ion-label>
        <ion-input placeholder="Izena"></ion-input>
      </div>

      <ion-button href="/mapa">Hasi</ion-button>
    </div>
    </body>
  </ion-content>

