@import "../app.component";
$fondoa: "../../assets/images/concha.png";
body {
    background: url($fondoa) no-repeat;
}
#container{
    text-align: center;
    margin-top: 50%;
}
#nor{
    color: $letra;
}
#izena{
    align-self: center;
}
ion-label{
    color: white;
}
ion-input{
    background-color: transparent;
    border-bottom: 1px solid;
    border-color: $letra;
    width: 150px;
    margin: auto;
    text-align: left;
}
