<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{lekua == 1 ? 'Igeldo mendia - Jolasa' :  (lekua == 5 ? 'Abuztuak 31 kalea - Jolasa' : (lekua == 6 ? 'San Telmo Museoa - Jolasa' : 'fef'))}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondoa">
  </div>
  <div class="content">

    <ion-card>
      <ion-card-header>
        <ion-card-title *ngIf="lekua == 1">Bikoteak</ion-card-title>
        <ion-card-title *ngIf="lekua == 5">Hizki sopa</ion-card-title>
        <ion-card-title *ngIf="lekua == 6">Puzzlea</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <div *ngIf="lekua == 1">
          <p>Bikoteak buruz behera daude.</p>
          <span class="brmedium"></span> 
          <p>Lotu karta bakoitza bere bikotearekin.</p>
          <span class="brmedium"></span> 
          <p>Ondo memorizatu hurrengo argazkiak.</p>
        </div>
          
        <div *ngIf="lekua == 5">
          <p>Bilatu hitzazu hitz hauek hizki sopan</p>
          <div class="grid">
            <p>Batailak</p>
            <p>Desfileak</p>
            <p>Napoleon</p>
            <p>Suntsitu</p>
            <p>Sutea</p>
            <p>Berreraiki</p>
            <p>Kandelak</p>
          </div>
        </div>

        <div *ngIf="lekua == 6">
          <p>Puzzlearen piezak nahastuta daude</p>
          <span class="brmedium"></span> 
          <p>Lehengo aukeratu zer pieza nahi duzun aldatzea eta gero posizioa</p>
        </div>
            
      </ion-card-content>
    </ion-card>

    <ion-button *ngIf="lekua == 1" (click)="jokuak('igeldo-argazkiak')">Jolasten hasi 
    </ion-button>

    <ion-button *ngIf="lekua == 6" (click)="jokuak('puzzlea')">Jolasten hasi 
    </ion-button>
    <ion-button *ngIf="lekua == 5" (click)="jokuak('letra-sopa-jokua')">Jarraitu 
      <ion-icon name="arrow-forward"  end></ion-icon>
    </ion-button>
  </div>
</ion-content>
