@import "../app.component";
.content{
    overflow: hidden;
    position: relative; 
    @include flex_mixin(column,null,center,no-wrap);
    height: 100%;
}

.fondoa{
    background: url($fondoko_argazkia);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
    height: 100%;
    width: 100%;
    position: absolute;
}
ion-card{
    text-align: center;
    height: 30vh;
    @include flex_mixin(column,center,center,no-wrap);

    .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 15px;

        p{
            font-weight: bold;
            color: $letra;
        }
    }

    .brmedium {
        display: block;
        margin-bottom: 1.5em;
    }
}

