<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{lekua == 1 ? 'Igeldo mendia - Jolasa' :  (lekua == 5 ? 'Abuztuak 31 kalea - Jolasa' : (lekua == 6 ? 'San Telmo Museoa - Jolasa' : 'fef'))}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondoa">
  </div>
  <div class="content">
    <ion-button *ngIf="lekua == 1" [routerLink]="['igeldo-argazkiak']">Jarraitu 
      <ion-icon name="arrow-forward"  end></ion-icon>
    </ion-button>
    <ion-button *ngIf="lekua == 5" [routerLink]="['letra-sopa-info']">Jarraitu 
      <ion-icon name="arrow-forward"  end></ion-icon>
    </ion-button>
  </div>
</ion-content>
