@import "../app.component";
$fondoa: url("../../assets/images/concha.png");
#body {
  background-image: $fondoa;
}
#container {
  text-align: center;
  margin-top: 50%;
}

#container strong {
  font-size: 26px;
  color: white;
}

#botoia {
  margin-top: 75%;
}