@import "../app.component";
$fondoa: "../../assets/images/concha.png";

body {
  background: url($fondoa);
  background-size: cover;
  background-repeat: no-repeat;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#container strong {
  font-size: 36px;
  color: $goiburuletra;
  text-shadow: 2px 2px $letra;
}
