<ion-header>
  <ion-toolbar>
    <ion-title>LetraSopaInfo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="fondoa"></div>
    <div class="container">
      <div class="esaldia">
        <p>Bilatu hitzazu hitz hauek hizki sopan</p>
      </div>
      <div class="hitzak">
        <div class="ezkerra">
          <p>Batailak</p>
          <p>Desfileak</p>
          <p>Napoleon</p>
          <p>Suntsitu</p>
        </div>
        <div class="eskubia">
          <p>Sutea</p>
          <p>Berreraiki</p>
          <p>Kandelak</p>
        </div>
      </div>
      <div class="jarraitu">
        <ion-button (click)="bidaiatu()">Jokura jarraitu</ion-button>
      </div>
    </div>
  </div>
</ion-content>
