<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Galderak</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content">
    <div class="fondoa"></div>
    <div id="container" *ngFor="let item of list | slice:0:1">
      <ion-card>
        <ion-card-content>
          <p>{{item.galdera}}</p>

          <div *ngFor="let item2 of item.erantzunak ; let i = index">
            <ion-item (click)="getSelectedItem(item.erantzunak[i])">
              <ion-icon name="radio-button-off-outline"></ion-icon>
              <ion-label [(ngModel)]="item.erantzunak[i]" ngDefaultControl >{{item.erantzunak[i]}}</ion-label>
            </ion-item>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>