@import "../app.component";

#container {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
}

.content {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.fondoa {
    background: url($fondoko_argazkia);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
    height: 100%;
    width: 100%;
    position: absolute;
}

ion-card-content {
    text-align: center;
    p {
        margin-bottom: 10px;
        color: $letra;
        font-weight: bold;
    }

    ion-button{
        margin-top: 10px;
    }

    ion-item {
        display: flex;
        flex-direction: column;
        --ion-item-background: transparent;
        background: none;

        ion-checkbox {
            align-self: flex-end;
        }

        ion-label {
            font-size: 14px;
        }
    }
}